:root {
    color-scheme: light dark;

    --light-bg: ghostwhite;
    --light-color: darkslategray;

    --dark-bg: darkslategray;
    --dark-color: ghostwhite;
}

body * {
    font-style: normal;
}

body {
    display: flex;
    justify-content: space-around;
}

main {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main>div,
address {
    border-width: 2px;
    border-style: solid;
    border-color: light-dark(--dark-color, --light-color);
    border-radius: 5px;
    padding: 1em;
}


#main-intro>a {
    padding: 10px 20px;
}
button, #main-intro>a {
    font-size: large;
    background-color: hsl(216, 100%, 50%);
    color: var(--dark-color);
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0;
}

button:hover {
    background-color: hsl(216, 100%, 40%);
}


/* table with prices */
table {
    display: flex;
    justify-content: space-around;
}

/* padding only inside table */
td,
th {
    padding-right: 20px;
}

td:nth-last-of-type(1),
th:nth-last-of-type(1) {
    padding-right: 0px
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    gap: 10px
}

.main>div {
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.main>div:has(img) {
    border: none;
    align-content: space-around;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    margin-bottom: 5em;
}

.contact {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 1fr;
}

.contact-form {
    grid-column: 1;
    grid-row: 1;
    margin: 1em;
    background-color: light-dark(#f0f0f0bb, #0000007a);
    padding: 1em;
    border-radius: 5px;
}

.contact-form * {
    width: 100%;
}

.contact-background {
    grid-column: 1/3;
    grid-row: 1;
}

.contact-form label,
h2 {
    display: block;
    padding: 3px;
    margin-bottom: 7px;
    margin-top: 7px;
}

textarea {
    width: 80%;
    height: 15em;
}

img {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

em {
    font-weight: bold;
    font-style: normal;
}

.title {
    display: flex;
    justify-content: space-around;
}

nav>a {
    margin: 5px;
}


/* grid layout */
#main-zeit {
    grid-column: 3;
    grid-row: 2/4;
}

#main-gruppe-outdoor {
    grid-column: 1/4;
    grid-row: 5;
}

/* 2 col layout medium scree size */
@media (min-width: 751px) and (max-width: 930px) {

    /* grid layout */
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #main-training {
        grid-column: 1;
        grid-row: 2;
    }

    #main-zeit {
        grid-column: 2;
        grid-row: 3/5;
    }

    #main-outdoor {
        display: none;
    }

    #main-preis {
        grid-column: 1;
        grid-row: 4;
    }

    #main-gruppe-outdoor {
        grid-column: 1/3;
        grid-row: 5;
    }
}

/* single col layout - mobile */
@media (max-width: 750px) {
    .main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .main>div:has(img) {
        padding: 0 10%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact-form {
        margin: 0;
    }
}

@media (prefers-color-scheme: light) {
    #main-logo>img {
        filter: invert(100%);
    }

}