:root {
    color-scheme: light dark;

    --light-bg: ghostwhite;
    --light-color: darkslategray;

    --dark-bg: darkslategray;
    --dark-color: ghostwhite;
}

body {
    background-color: light-dark(--light-bg, --dark-bg);
    color: light-dark(--light-color, --dark-color);
}

.wrapper {
    max-width: 1300px;
    height: 1000px;
    margin: 0 auto;
}

.wrapper>div {
    border-width: 2px;
    border-style: solid;
    border-color: light-dark(--dark-color, --light-color);
    border-radius: 5px;
    padding: 1em;
}

button {
    font-size: large;
}


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main>div {
    padding: 15px;
    margin: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: light-dark(--dark-color, --light-color);
    border-radius: 5px;
}

.main>div:has(img) {
    border: none;
    align-content: space-around;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer a {
    margin: 3px;
}

.contact {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 1fr;
}

.contact-form {
    grid-column: 1;
    grid-row: 1;
    margin: 1em;
    background-color: light-dark(#f0f0f0bb, #0000007a);
    padding: 1em;
    border-radius: 5px;
}



.contact-form * {
    width: 100%;
}

.contact-background {
    grid-column: 1/3;
    grid-row: 1;
}

.contact-form label,
h2 {
    display: block;
    width: fit-content;
    padding: 3px;
    margin-bottom: 7px;
    margin-top: 7px;
}

textarea {
    width: 80%;
    height: 15em;
}

img {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
}

em {
    font-weight: bold;
    font-style: normal;
}

.title {
    display: flex;
    justify-content: space-around;
}

.main-bene {
    grid-column: 1;
    grid-row: 1;
}

.main-intro {
    grid-column: 2;
    grid-row: 1;
}

.main-logo {
    grid-column: 3;
    grid-row: 1;
}

.main-training {
    grid-column: 1;
    grid-row: 2;
}

.main-halle {
    grid-column: 2;
    grid-row: 2;
}

.main-zeit {
    grid-column: 3;
    grid-row: 2/4;
}

.main-outdoor {
    grid-column: 1;
    grid-row: 3;
}

.main-preis {
    grid-column: 2;
    grid-row: 3;
}

@media (min-width: 751px) and (max-width: 930px) {

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-bene {
        grid-column: 1;
        grid-row: 1;
    }

    .main-intro {
        grid-column: 2;
        grid-row: 1;

    }

    .main-logo {
        grid-column: 2;
        grid-row: 2;
    }

    .main-training {
        grid-column: 1;
        grid-row: 2;
    }

    .main-halle {
        grid-column: 1;
        grid-row: 3;
    }

    .main-zeit {
        grid-column: 2;
        grid-row: 3/5;
    }

    .main-outdoor {
        visibility: hidden;
    }

    .main-preis {
        grid-column: 1;
        grid-row: 4;
    }
}

@media (max-width: 750px) {
    .main {
        display: block;
    }

    .contact {
        display: block;
    }
}


@media (prefers-color-scheme: light) {
    .main-logo>img {
        filter: invert(100%);
    }

}